* {
  margin: 0;
}

html,
body,
#root,
.app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background-color: #363636;
}

.container {
  background-color: #FFF;
  border-radius: 5px;
  margin: 15px 0;
  padding: 30px;
}